$egeo-colors: (
   a1: #37b5e4,
   a1_dark: #2d96bd,
   a1_light: #3dc9fc,
   a2: #b5c1c5,
   a2_dark: #919b9e,
   a2_light: #ccd9de,
   a3: #405467,
   a3_dark: #283440,
   a3_light: #4f6880,
   a4: #92a2b1,
   a4_dark: #717e8a,
   a4_light: #a5b8c9,
   n0: #fff,
   n1: #f5f5f5,
   n2: #ededed,
   n3: #dedede,
   n4: #cbcbcb,
   n5: #b5b5b5,
   n6: #999,
   n7: #777,
   n8: #555,
   n9: #242424,
   n10: #000,
   b1: #1b303f,
   b2: #0f1b27,
   b3: #eff2f3,
   b3_dark: #e1e4e5,
   b4: #fff,
   s1: #acc952,
   s1_dark: #96b048,
   s1_light: #b6c97b,
   s2: #fdbd2b,
   s2_dark: #e3aa27,
   s2_light: #fccd5d,
   s3: #db030e,
   s3_dark: #c2020c,
   s3_light: #db2e37,
   t1: #d7c200,
   t2: #00d9df,
   t3: #a7eb1e
) !default;

$egeo-rgb-colors: (
   b1: rgb(27, 48, 63),
   b2: rgb(15, 27, 39),
   b3: rgb(239, 242, 243),
   b4: rgb(255, 255, 255),
   a1_light: rgb(61, 201, 252),
   a2_light: rgb(204, 217, 222),
   a3_light: rgb(79, 104, 128),
   a4_light: rgb(165, 184, 201),
   a1: rgb(55, 181, 228),
   a2: rgb(181, 193, 197),
   a3: rgb(64, 84, 103),
   a4: rgb(146, 162, 177),
   a1_dark: rgb(45, 150, 189),
   a2_dark: rgb(145, 155, 158),
   a3_dark: rgb(40, 52, 64),
   a4_dark: rgb(113, 126, 138),
   n0: rgb(255, 255, 255),
   n1: rgb(245, 245, 245),
   n2: rgb(237, 237, 237),
   n3: rgb(222, 222, 222),
   n4: rgb(203, 203, 203),
   n5: rgb(181, 181, 181),
   n6: rgb(153, 153, 153),
   n7: rgb(119, 119, 119),
   n8: rgb(85, 85, 85),
   n9: rgb(36, 36, 36),
   n10: rgb(0, 0, 0),
   s1_light: rgb(182, 201, 123),
   s2_light: rgb(252, 205, 93),
   s3_light: rgb(219, 46, 55),
   s1: rgb(172, 201, 82),
   s2: rgb(253, 189, 43),
   s3: rgb(219, 3, 14),
   s1_dark: rgb(150, 176, 72),
   s2_dark: rgb(227, 170, 39),
   s3_dark: rgb(194, 2, 12),
   t1: rgb(215, 194, 0),
   t2: rgb(0, 217, 223),
   t3: rgb(167, 235, 30)
) !default;
