$egeo-colors: (
   a1: #37b5e4,
   a1_dark: #2d96bd,
   a1_light: #3dc9fc,
   a2: #b5c1c5,
   a2_dark: #919b9e,
   a2_light: #ccd9de,
   a3: #405467,
   a3_dark: #283440,
   a3_light: #4f6880,
   n0: #fff,
   n1: #f9f9f9,
   n2: #f1f1f1,
   n3: #e4e4e4,
   n4: #cbcbcb,
   n5: #b5b5b5,
   n6: #999,
   n7: #777,
   n8: #555,
   n9: #242424,
   n10: #000,
   b1: #172734,
   b2: #0f1b27,
   b3: #eff2f3,
   b3_dark: #e1e4e5,
   b4: #fff,
   s1: #88b060,
   s1_dark: #759653,
   s1_light: #9ab084,
   s2: #ff8900,
   s2_dark: #e57a00,
   s2_light: #ffa033,
   s3: #e23b2b,
   s3_dark: #c93426,
   s3_light: #e36459,
   t1: #d0c120,
   t2: #21d8de,
   t3: #bcea3f
) !default;

$egeo-rgb-colors: (
   b1: rgb(23, 39, 52),
   b2: rgb(15, 27, 39),
   b3: rgb(239, 242, 243),
   b4: rgb(255, 255, 255),
   a1_light: rgb(61, 201, 252),
   a2_light: rgb(204, 217, 222),
   a3_light: rgb(79, 104, 128),
   a4_light: rgb(165, 184, 202),
   a1: rgb(55, 181, 228),
   a2: rgb(181, 193, 197),
   a3: rgb(64, 84, 103),
   a4: rgb(146, 162, 177),
   a1_dark: rgb(45, 150, 189),
   a2_dark: rgb(145, 155, 158),
   a3_dark: rgb(40, 52, 64),
   a4_dark: rgb(113, 126, 138),
   n0: rgb(255, 255, 255),
   n1: rgb(249, 249, 249),
   n2: rgb(241, 241, 241),
   n3: rgb(228, 228, 228),
   n4: rgb(203, 203, 203),
   n5: rgb(181, 181, 181),
   n6: rgb(153, 153, 153),
   n7: rgb(119, 119, 119),
   n8: rgb(85, 85, 85),
   n9: rgb(36, 36, 36),
   n10: rgb(0, 0, 0),
   s1_light: rgb(154, 176, 132),
   s2_light: rgb(255, 160, 51),
   s3_light: rgb(227, 100, 89),
   s1: rgb(136, 176, 96),
   s2: rgb(255, 137, 0),
   s3: rgb(226, 59, 43),
   s1_dark: rgb(117, 150, 83),
   s2_dark: rgb(229, 122, 0),
   s3_dark: rgb(201, 52, 38),
   t1: rgb(208, 193, 32),
   t2: rgb(33, 216, 222),
   t3: rgb(188, 234, 63)
) !default;
